.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: 2rem;
}

.top-row {
    background-color: var(--app-header-background);
    border-bottom: 1px solid var(--app-header-border);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row h3 {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.theme-select {
    flex: 0 0 auto;
    width: 6.5rem;
    margin-inline-start: 0.75rem;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }

    .theme-select {
        margin-inline-start: 0.5rem;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: column;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
